* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    background-color: #240040;
    height: 100%;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    user-select: none;
}
.grid-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    overflow-x: auto;
    padding: 20px;
    gap: 20px;
    height: 100%;
    align-content: flex-start;
    padding: 160px 120px;

}
::-webkit-scrollbar {
    height: 14px;
}
::-webkit-scrollbar-track {
    background: #ffffff52;
}

::-webkit-scrollbar-thumb {
    background: #ffffffb0;
}
::-webkit-scrollbar-thumb:hover {
    background: #ffffffd2;
}
.icon-text-container {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.icon {
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    margin-right: 8px;
    display: inline-block;
}
.text {
    font-size: 16px;
    color: #ffffff;
    font-weight: 100;
    margin-bottom: 10px;
}
.container {
    display: flex;
    flex-direction: column;
    transition: transform 0.5s ease-in-out;
    height: 200%;
    width: 100%;
}
.move-to-apps {
    transform: translateY(-50%);
}
.page {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: left;
    flex-direction: column;
    font-size: 2em;
    color: white;
    position: relative;
    padding-top: 80px;
}
.switch-button {
    position: absolute;
    bottom: 60px;
    left: 120px;
    padding: 10px;
    padding-top: 5px;
    padding-left: 9px;
    font-size: 0.55em;
    background-color: #ffffff00;
    color: white;
    border: white 0.12em solid;
    cursor: pointer;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Segoe UI Symbol", Arial, sans-serif;
}
.switch-button:hover {
    background-color: #ffffff60;
}
.title {
    position: absolute;
    top: 60px;
    left: 120px;
    font-size: 1.7em;
    color: white;
    z-index: 1;
}
.grids-container {
    display: flex;
    gap: 40px;
    margin-top: 100px;
    overflow-x: auto;
    overflow-y: hidden;
    bottom: 0px;
    padding: 80px 120px;
    white-space: nowrap;
}
.grid {
    display: grid;
    grid-template-columns: repeat(2, 137px);
    grid-template-rows: repeat(4, 137px);
    padding-bottom: 280px;
    opacity: 0;
    animation: gridGlide 1s ease-out forwards;
}
.tile {
    width: 127px;
    height: 127px;
    padding: 5px;
    border: solid 1px #1aaab9;
    background: rgb(0,130,153);
    background: linear-gradient(90deg, rgba(0,130,153,1) 0%, rgba(0,160,177,1) 100%);
    display: flex;
    justify-content: left;
    align-items: left;
    color: white;
    font-size: 14px;
    font-weight: 100;
    cursor: grab;
    transition: transform 0.2s ease, opacity 0.2s ease;
}
.tile.pressed {
    transform: scale(0.95);
}
.tile.dragging {
    transform: scale(1.1);
    opacity: 0.7;
}
.tile.shrink {
    transform: scale(0.9);
}
.add-tile-btn {
    margin: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
@keyframes gridGlide {
    0% {
        opacity: 0;
        transform: scale(0.7) translateX(70px);
   }
    25% {
        opacity: 1;
        transform: scale(1) translateX(25px);
   }
    100% {
        opacity: 1;
        transform: scale(1) translateX(0);
   }
}

.grid:nth-child(1) {
    animation-delay: 0s;
}
.grid:nth-child(2) {
    animation-delay: 0.1s;
}
.grid:nth-child(3) {
    animation-delay: 0.2s;
}
.grid:nth-child(4) {
    animation-delay: 0.3s;
}
.grid:nth-child(5) {
    animation-delay: 0.4s;
}
.grid:nth-child(6) {
    animation-delay: 0.5s;
}
.grid:nth-child(7) {
    animation-delay: 0.6s;
}
.grid:nth-child(8) {
    animation-delay: 0.7s;
}


.page:nth-child(1) {
    background-image: url('background.png');
    background-position: left center;
    background-repeat: no-repeat;
    background-size: auto 100%;

        background-position: 0 center;
        transition: background-position 0.01s ease-out;
    }

.context-menu {
    position: fixed;
    left: 0;
    bottom: -70px;
    width: 100%;
    height: 70px;
    background-color: #4c1bb8;
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: left;
    justify-content: left;
    opacity: 0;
    z-index: 1000;
}

.context-menu-content {
    width: 100%;
    display: flex;
    justify-content: left;
    padding: 0 20px;
}

.context-menu-btn {
    background-color: transparent;
    color: white;
    padding: 20px 20px;
    cursor: pointer;
    transition: all 0.2s ease;
border: 0px;
}

.context-menu-btn:hover {
    background-color: rgba(255, 255, 255, 0.185);

}